RewriteEngine On 

					RewriteBase /matrimonial/ 

					RewriteCond %{REQUEST_URI} ^system.* 

					RewriteRule ^(.*)$ /index.php/$1 [L] 

					RewriteCond %{REQUEST_FILENAME} !-f 

					RewriteCond %{REQUEST_FILENAME} !-d 

					RewriteRule ^(.*)$ /matrimonial/index.php/$1 [L]